{% extends "index.html" %} {% block title %}Home{% endblock %}
{% block content %}
{% if not user.teamId %}
<div class="col text-center" style="margin: 1px;"><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/create-team" style="padding-right: 2;padding-bottom: 2;padding-left: 2;padding-top: 2;height: 30.8px;width: 121.325px;"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Create Team</a><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/join-team" style="margin: 13px;"><i class="fas fa-road fa-sm text-white-50"></i>&nbsp; Join Existing Team</a></div>
{% else %}
<div class="container-fluid">
   <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 class="text-dark mb-0">Hello, {{ user.name.split()[0] }} </h3>
   </div>
   <div class="card-group"></div>
   <div class="row">
      <div class="col order-first">
         <div class="card">
            <div class="row align-items-center no-gutters" style="padding-top: 4px;">
               <div class="col d-md-flex justify-content-md-center"><label class="col-form-label text-danger" style="font-size: 22px;margin-left: 11px;"><strong>{{team.name}}</strong><br></label></div>
               <div class="col d-md-flex justify-content-md-center"><label class="form-label text-primary" style="font-size: 18px;margin-top: 6px; width: 130px;"><strong>Invitation code&nbsp;</strong></label><input readonly value="{{code}}"  class="d-md-flex align-items-md-center" type="text" style="text-align: center;  height: 26.6px;width: 119.4px;margin-top: 5px;margin-left: 6px;margin-bottom: 8px;margin-right: 6px;"></div>
            </div>
         </div>
         <br>
         <div class="card">
            <div class="card-body" style="padding-top: 16px;">
               <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                     <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>progress</span></div>
                     <div class="row g-0 align-items-center">
                        <div class="col-auto">
                           <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{ solved|length }} / {{ team.problemsNum }} </span></div>
                        </div>
                        <div class="col">
                           <div class="progress progress-sm">
                              {% set my_progress = solved|length / team.problemsNum * 100 %}
                              <div class="progress-bar bg-info" aria-valuenow="{{ my_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ my_progress }}%;"><span class="visually-hidden">{{ my_progress }}%</span></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <div class="card" style="text-align: left;">
            <div class="card-header d-flex justify-content-between align-items-center">
               <h6 class="text-primary fw-bold m-0">Today's Problemset</h6>
               <div class="dropdown no-arrow">
                  <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                  </div>
               </div>
            </div>
            <div class="card-body">
               <ul class="list-group">
                  {% for problem in problems %}
                  <li class="list-group-item" {% if problem.id in solved %} style="background-color: springgreen;" {% else %} style="background-color: mintcream;" {% endif %} >
                  <div class="row align-items-center no-gutters">
                     <div class="col me-2"><span style="font-size: 20px;font-weight: bold;font-family: Nunito, sans-serif;">{{ problem.name }}</span></div>
                     {% set url = 'https://codeforces.com/problemset/problem/' + problem.name %}
                     <div class="col-auto">
                        {% if problem.id not in solved %}
                        <button class="btn btn-primary" type="button" style="text-align: center;padding-right: 11px;margin-right: 18px;height: 35px;width: 86.125px;" onclick="window.location.href='{{ url_for( 'views.solved', num=problem.id) }}';">Solved?</button>
                        {% endif %}
                        <button  class="btn btn-primary" type="button" target='_blank'  style="text-align: center;padding-right: 11px;margin-left: 0px;height: 35px;width: 105.125px;margin-right: 0px;background: rgb(162,62,239);color: var(--bs-body-bg);border-style: none;border-color: var(--bs-blue);" onclick= "window.open('{{url}}','_blank');return false;">Codeforces</button>
                     </div>
                  </div>
                  </li>
                  {% endfor %}
               </ul>
            </div>
         </div>
         <br>
      </div>
      <div class="col">
         <div class="card">
            <div class="card-header py-3">
               <h6 class="text-primary fw-bold m-0">Team mates progress</h6>
            </div>
            <div class="card-body">
               {% for name, num, i in team_mates %}
               {% set m = team_mates[i] %}
               <h4 class="small fw-bold" style="color: red">{{ name }}<span class="float-end" style="color: black">{{ num }} / {{ team.problemsNum }}</span></h4>
               <div class="progress progress mb-4">
                  <div class="progress-bar bg-gradient-primary"  aria-valuenow="{{num / team.problemsNum * 100 }}" aria-valuemin="0" aria-valuemax="100" style=" background: {{ colors[i] }}; width: {{ num / team.problemsNum * 100 }}%;"><span class="visually-hidden">{{ num / team.problemsNum }}%</span></div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}