
{% extends "index.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div style="padding: 49px;"><form method="POST">
    <br>
  <h3 style="color: black;" align="center">Join Team</h3>
  <br>
  <div class="form-group">
    <center>
    <input type="code" class="form-control" id="code" name="code" style="width: 400px;" placeholder="Enter invitation Code">
    </center>
  </div>
  <br>
        <div class="d-md-flex justify-content-md-center mb-3"><button class="btn btn-primary d-md-flex justify-content-md-center" type="submit">join</button></div>


</form></div>
 <br> <br> <br> <br> <br> <br> <br> <br>
{% endblock %}
