{% extends "index.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div style="padding: 49px;"><form method="POST">
  <h3 style="color: black; "  align="center">Create Team</h3>
  <br>
  <br>
  <center>
  <div class="form-group">
    <label style="color: black;"  form="name">Team Name</label>
    <input type="name" style="width: 400px;" class="form-control" id="name" name="name" placeholder="Enter Name ">
  </div>
  <br>
  <div class="form-group">
    <label style="width: 100px;color: black;" form="name">Daily goal</label>
    <input type="number" style="width: 300px;color: red; text-align: center;" step="1" min="1" max="50" class="form-control" id="number" name="number" placeholder="Enter problems number per day">
  </div>

  <br>
  <br>
  <button type="create" class="btn btn-primary">Create</button>
</form></div>
</center>
 <br> <br> <br> <br>
{% endblock %}
